<div class="card position-absolute bottom-0 border-top rounded-top" style="width: 18rem;">
  <div class="card-header">
    Usuários Online
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let user of usersOnline | async" class="list-group-item" (click)="newChat(user)">{{user.username}}</li>
  </ul>
</div>

<div *ngFor="let chatActive of chatsActive | async; index as i" class="card position-absolute bottom-0 border-top"
  [ngStyle]="{'right.rem': chatActive.position * 20 }" style="width: 18rem;">
  <div class="card-header">
    <span>{{chatActive.participants[0].username}}<span *ngIf="chatActive.participants.length === 2">, {{chatActive.participants[1].username}}</span></span>
  </div>
  <p *ngFor="let msgObject of chatActive.messages"><b>{{msgObject.user.username}}:</b> {{msgObject.message}}</p>
  <div class="card-footer p-0 d-flex flex-row">
    <input (focus)="chatFocused(chatActive.chatId)" id="{{chatActive.chatId}}" #message style="width: 85%;" type="text" class="form-control m-0">
    <button (click)="sendMessage(chatActive.chatId, message.value)" style="width: 15%;" type="submit" class="btn btn-primary text-center">
      <fa-icon [icon]="iconSendMessage"></fa-icon>
    </button>
  </div>
</div>
