<div class="container d-flex justify-content-center">
  <div class="card" style="width: 50vh;height: 30vh;">
    <div class="card-body">
      <div>
        <h5 class="card-title text-center mt-2">Faça seu login</h5>
      </div>
      <div>
        <form>
          <div class="mb-3">
            <label for="documentNumber" class="form-label">CPF / CNPJ</label>
            <input #documentNumber type="documentNumber" class="form-control" id="documentNumber">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input #password type="password" class="form-control" id="password">
          </div>
          <div class="row mt-1 d-flex justify-content-center">
            <div class="col-6">
              <button (click)="login(documentNumber.value, password.value)"
                class="btn btn-primary w-100">Continuar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
