<div class="login-card">
  <div class="card bg-dark" style="min-width: 50vh;min-height: 30vh;">
    <div class="card-body">
      <div>
        <h5 class="card-title text-center mt-2">Faça seu login</h5>
      </div>
      <div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="documentNumber" class="form-label">CPF / CNPJ</label>
            <input formControlName="documentNumber" #documentNumber type="documentNumber" class="form-control" id="documentNumber">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input formControlName="password" #password type="password" class="form-control" id="password">
          </div>
          <div class="mt-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-100">Continuar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
