<div class="d-flex sidebar">
  <div class="flex-shrink-0 p-3 bg-dark sidebar-body">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">Controle Acadêmico</span>
    </a>
    <p class="hello-text">Ola Professor Luiz!</p>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          Home
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="d-inline-flex text-decoration-none rounded">Overview</a></li>
            <li><a href="#" class="d-inline-flex text-decoration-none rounded">Updates</a></li>
            <li><a href="#" class="d-inline-flex text-decoration-none rounded">Reports</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#institutions-collapse" aria-expanded="false">
          Instituições
        </button>
        <div class="collapse" id="institutions-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a [routerLink]="['/institution/new']" class="d-inline-flex text-decoration-none rounded">Nova
                Instituição</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#professors-collapse" aria-expanded="false">
          Professores
        </button>
        <div class="collapse" id="professors-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a [routerLink]="['/professor/new']" class="d-inline-flex text-decoration-none rounded">Novo
                Professor</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#students-collapse" aria-expanded="false">
          Alunos
        </button>
        <div class="collapse" id="students-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a [routerLink]="['/student/new']" class="d-inline-flex text-decoration-none rounded">Novo Aluno</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#courses-collapse" aria-expanded="false">
          Cursos
        </button>
        <div class="collapse" id="courses-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a [routerLink]="['/course/new']" class="d-inline-flex text-decoration-none rounded">Novo Curso</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#subjects-collapse" aria-expanded="false">
          Matérias
        </button>
        <div class="collapse" id="subjects-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a *ngIf="checkHasPermission('createSubject')" [routerLink]="['/subject/new']"
                class="d-inline-flex text-decoration-none rounded">Nova Matéria</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Conta
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="d-inline-flex text-decoration-none rounded" (click)="logout()">Sair</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
