<div class="d-flex sidebar">
  <div class="flex-shrink-0 p-3 sidebar-body">
    <div class="sidebar-header border-bottom d-flex align-items-center justify-content-between pb-3 mb-3">
      <a [routerLink]="['/']" class="fs-5 fw-semibold text-decoration-none">Controle Acadêmico</a>
      <a [routerLink]="['/login']" (click)="logout()" class="fs-5 fw-semibold text-decoration-none ms-auto">
        <fa-icon [icon]="icon" class="ms-auto"></fa-icon>
      </a>
    </div>

    <p class="hello-text">{{tokenPayload.username}}</p>

    <ul class="list-unstyled ps-0 sidebar-list">
      <li *ngIf="isAdmin" class="mb-1">
        <a [routerLink]="['/institutions']" class="btn w-100 d-inline-flex align-items-center rounded border-0">
          Instituições
        </a>
      </li>
      <li *ngIf="isInstitution" class="mb-1">
        <a [routerLink]="['/professors']" class="btn btn-toggle w-100 d-inline-flex align-items-center rounded border-0">
          Professores
        </a>
      </li>
      <li *ngIf="isInstitution" class="mb-1">
        <a [routerLink]="['/students']" class="btn btn-toggle w-100 d-inline-flex align-items-center rounded border-0">
          Estudantes
        </a>
      </li>
      <li *ngIf="isInstitution" class="mb-1">
        <a [routerLink]="['/courses']" class="btn btn-toggle w-100 d-inline-flex align-items-center rounded border-0">
          Cursos
        </a>
      </li>
      <li *ngIf="isInstitution || isProfessor || isStudent" class="mb-1">
        <a [routerLink]="['/subjects']" class="btn btn-toggle w-100 d-inline-flex align-items-center rounded border-0">
          Matérias
        </a>
      </li>
    </ul>
  </div>
</div>
