@import '../../styles.scss';

.hello-text {
  color: $text-color
}

.sidebar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  border: 0;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar-body {
  width: 280px;
  color: $text-color;
  background-color: darkgray;
}

.btn {
  padding: .25rem .5rem;
  font-weight: 600;
  color: $text-color;
  background-color: transparent;
}

.btn:hover,
.btn:focus {
  background-color: $background-color-hover;
}

// .btn-toggle-nav a {
//   color: $text-color;
//   padding: .1875rem .5rem;
//   margin-top: .125rem;
//   margin-left: 1.25rem;
//   width: 92%;
// }

// .btn-toggle-nav a:hover,
// .btn-toggle-nav a:focus {
//   font-weight: bold;
//   background-color: $background-color-hover;
// }

.scrollarea {
  overflow-y: auto;
}
