<div class="h-100 d-flex justify-content-center p-4">
  <div class="w-100">
    <h1 class="mt-4 mb-4 border-bottom pb-4">{{subject.subjectName}}</h1>
    <div class="card mt-4">
      <h5 class="card-header d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
        <span class="me-auto"> Arquivos</span>

        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
          Novo arquivo
        </button>
      </h5>
      <div class="card-body">
        <div class="row">
          <div *ngFor="let uploadedFile of uploadedFiles" class="col-3 mb-4">
            <div class="card">
              <div class="extension-box border-bottom ">.{{uploadedFile.extension}}</div>
              <div class="card-body">
                <h5 class="card-title text-center">{{uploadedFile.fileName}}.{{uploadedFile.extension}}</h5>
              </div>
              <div class="card-footer p-0">
                <button type="button" (ngClass)="checkUserHaveDeleteFilePermission() ? '' : 'w-100'" (click)="downloadFile(uploadedFile.id)"
                  class="btn btn-sm btn-primary w-50">Download</button>
                <button type="button" *ngIf="checkUserHaveDeleteFilePermission()" (click)="deleteFile(uploadedFile.id)" class="btn btn-sm btn-danger w-50">Excluir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload de arquivo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 mt-3">
          <input (change)="onChange($event)" name="newFile" class="form-control" type="file" id="newFile">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" (click)="uploadFile()" class="btn btn-primary" data-bs-dismiss="modal">Enviar</button>
      </div>
    </div>
  </div>
</div>
