<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="w-100">
    <h1 class="text-center mb-4">Novo Estudante</h1>
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <form [formGroup]="newStudentForm" (ngSubmit)="onSubmit()">
          <div class="row mt-4">
            <div class="col-12">
              <label for="name" class="form-label">Nome</label>
              <input formControlName="name" #name type="text" class="form-control" id="name">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-5">
              <label for="documentNumber" class="form-label">CPF</label>
              <input mask="000.000.000-00" formControlName="documentNumber" #documentNumber type="text" class="form-control" id="documentNumber">
            </div>
            <div class="col-7">
              <label for="courseId" class="form-label">Curso</label>
              <select formControlName="courseId" #courseId id="courseId" class="form-select" aria-label="Default select example">
                <option hidden selected></option>
                <option *ngFor="let course of courses" value="{{course.id}}">{{course.courseName}}</option>
              </select>
            </div>
          </div>
          <div class="row mt-4 mb-4">
            <div class="col-6">
              <label for="password" class="form-label">Senha</label>
              <input formControlName="password" #password type="password" class="form-control" id="password">
            </div>
            <div class="col-6">
              <label for="confirmPassword" class="form-label">Confirme a Senha</label>
              <input formControlName="confirmPassword" #confirmPassword type="password" class="form-control" id="confirmPassword">
            </div>
          </div>
          <div class="mt-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
