<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="w-100">
    <h1 class="text-center mb-4">Novo Professor</h1>
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <form [formGroup]="newProfessorForm" (ngSubmit)="onSubmit()">
          <div class="row mt-4">
            <div class="col-8">
              <label for="name" class="form-label">Nome</label>
              <input formControlName="name" #name type="text" class="form-control" id="name">
            </div>
            <div class="col-4">
              <label for="documentNumber" class="form-label">CPF</label>
              <input formControlName="documentNumber" #documentNumber type="text" class="form-control" id="documentNumber">
            </div>
          </div>
          <div class="row mt-4 mb-4">
            <div class="col-6">
              <label for="password" class="form-label">Senha</label>
              <input formControlName="password" #password type="password" class="form-control" id="password">
            </div>
            <div class="col-6">
              <label for="confirmPassword" class="form-label">Confirme a Senha</label>
              <input formControlName="confirmPassword" #confirmPassword type="password" class="form-control" id="confirmPassword">
            </div>
          </div>
          <div class="mt-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
