/* You can add global styles to this file, and also import other style files */
$background-color-hover: lightgrey;
$text-color: rgba(255, 255, 255, 0.777);

body {
  min-height: 100vh;
  height: 100%;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
